

body {
    color: blue;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

footer {
    display: block;
    unicode-bidi: isolate;
    border-top: 1px solid blue;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

.footer_class {
  padding: 0.02em;
  padding-top: 0.0em;
  padding-bottom: 0.0em;
  padding-left: 0.0em;
  padding-right: 0.0em;
  margin: 0.2em;
}
